<!DOCTYPE html>
<html lang="en">
  <title>Quiz</title>
  <body>
    <%- include('./partials/_headers') %>

    <h1 class="take-quiz-h1">Take quiz</h1>

    <form id="form" action="/users/users_quizzes/quiz/<%= quiz_id %>" method="POST">
      <div class="my-quiz-container">
        <% for (let q of quiz) { %>
        <div class="one-quiz-box">
          <div>
            <p>Title: <%= q.title %></p>
            <p>Question: <%= q.question %></p>
          </div>
          <div class="quiz-box">
            <div class="option-1">
              <input
                type="radio"
                id="option1_<%= q.id %>"
                name="questions[number<%= q.id%>]"
                value="1"
              />
              <label for="questions[<%= q.id%>]"><%= q.option1 %></label>
            </div>
            <div class="option-2">
              <input
                type="radio"
                id="option2_<%= q.id %>"
                name="questions[number<%= q.id%>]"
                value="2"
              />
              <label for="option2_<%= q.id %>"><%= q.option2 %></label>
            </div>
            <div class="option-3">
              <input
                type="radio"
                id="option3_<%= q.id %>"
                name="questions[number<%= q.id%>]"
                value="3"
              />
              <label for="option3_<%= q.id %>"><%= q.option3 %></label>
            </div>

            <div class="option-4">
              <input
                type="radio"
                id="option4_<%= q.id %>"
                name="questions[number<%= q.id%>]"
                value="4"
              />
              <label for="option4_<%= q.id %>"><%= q.option4 %></label>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <button class="submit-btn" type="submit">SUBMIT</button>
    </form>

    <!-- <script>
      // action="/users/users_quizzes/quiz/<%= quiz_id %>" method="POST"
      const form = document.getElementById("form");
      form.addEventListener("submit", (event) => {

        const id = window.location.href.split('/').pop()[0];
        const data = new FormData(event.target);
        console.log([...data.entries()]);
        fetch(`/users/users_quizzes/quiz/${id}`, {
          Method: "POST",
          Headers: {
            Accept: "application.json",
            "Content-Type": "application/json",
          },
          Body: data,
          Cache: "default",
        });
      });
    </script> -->
  </body>
</html>
