 <!DOCTYPE html>
<html lang="en">

<title>Results</title>
<body>
  <%- include('./partials/_headers') %>
  <section class="all-results">
    <article class="results">
      <!-- <ul id="users"></ul> -->
      <% for (let result of results) { %>
        <div class="my-results">
          <p>Quiz Name: <%= result.title %></p>
          <p>Quiz Category: <%= result.name %></p>
          <p>Score: <%= result.score %></p>
          <p>Last Attempt: <%= result.created_at %></p>
        </div>
      <% } %>
    </article>
  </section>
</body>
</html>
